@media (max-width: 1024px) {
    .center {
        // padding-left: calc(50% - 786px/2);
        // padding-right: calc(50% - 786px/2);
        padding-left: 24px;
        padding-right: 24px;
    }

    .for {
        &__items {
            height: 268px;
        }
    }

    .product {
        width: 345px;
    }

    .product__content {
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer__logo {
        display: none;
    }
}



@media (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}