*{
    margin: 0;
    padding:0;
    }
    
    a {
        text-decoration: none;
    }
    
    body{
        font-family: 'Montserrat', sans-serif;
    }
    
    .center{
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
    
    .header__input{
        width: 288px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .header__input::placeholder{
        color: white;
    }
    
    .top{
        height: 735px;
        background-image: url(./img/top_background.jpg);;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
                
    }
    
    
    .navigation {
        transition: color 0.1s;
            &:hover {
                color: #000;
                transition: color 0.1s;
                text-decoration: underline;
            }
    }

    .navigation__button {
        transition: all 0.1s;
        &:hover {
            background: #000;
            color: #F7F6F6;
            border-color: #000;
            transition: all 0.1s;  
            
        }
    }
    
    // .navigation:hover {
    //     text-decoration: underline;
    // }
    
    .header{
        height: 76px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    }
    
    .menu {
        display: flex;
        gap: 32px;

        &-mobile {
            display: none;
        }
    }
    
    .menu__link {
        font-size: 16px; 
        line-height: 20px;
        font-weight: 400;
        color: #FFF;
        
        
        
    }
    
    .title {
        margin-top: 64px;
        margin-bottom: 16Px;
        font-weight: 600; 
        font-size: 64px; 
        line-height: 70px;
        color: #FFF;
        max-width: 792px;
    
        
    }
    
    .top__text {
        margin-bottom: 16Px;
        font-size: 24px; 
        line-height: 32px;
        color: #FFF;
    }
    
    .top__link {
        font-size: 16px; 
        line-height: 32px;
        font-weight: 400;
        color: #FFF;
        
    }
    
    .for__title{
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000;
        margin-top: 64px;
    }
    
    .for{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12,1fr);
    
    }
    
    .for__items{
        height: 415px;
        grid-column: span 4;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .for__items_big{
        grid-column: span 6;
    }
    
    .for__items_img1{
        background-image: url(./img/for/for1.jpg);
    }
    
    .for__items_img2{
        background-image: url(./img/for/for2.jpg);
    }
    
    .for__items_img3{
        background-image: url(./img/for/for3.jpg);
    }
    
    .for__items_img4{
        background-image: url(./img/for/for4.jpg);
    }
    
    .for__items_img5{
        background-image: url(./img/for/for5.jpg);
    }
    
    
    .heading {
        margin-top: 64px;
        margin-bottom: 32px;
        font-weight: 600; 
        font-size: 48px; 
        line-height: 59px; 
        color: #000;
    }
    
    .product{
        width: 378px;
        display: flex;
        flex-direction: column;
        
    }
    
    .product__image{
        width: 100%;
    }
    
    .product__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    column-gap: 32px;
    row-gap: 56px;
    }
    
    .product__heading {
        margin-top: 10px;
        margin-bottom: 8px;
        font-weight: 500; 
        font-size: 24px; 
        line-height: 29px; 
        color: #000;
    }
    
    .product__text {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px; 
        line-height: 17px; 
        color: #888;
    }
    
    .prices{
        display: flex;
        gap: 32px;
    }

    .product__price {

        font-weight: 500; 
        font-size: 24px; 
        line-height: 29px; 
        color: #050505;
   
    }
    
    .product__price_sale {
        font-weight: 500; 
        font-size: 24px; 
        line-height: 29px; 
        text-decoration: line-through; 
        color: #888;
    }
    
    .bottom__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
    }
    
    
    
    .footer__heading {
        /* margin-top: 32px; */
            font-weight: 500; 
        font-size: 24px; 
        line-height: 29px; 
        color: #000;
    }

    .footer__icon:hover path {
        fill: #000;
    }

    
    
    .footer__link {
        font-weight: 500; 
        font-size: 14px; 
        line-height: 17px; 
        color: #888; 
        text-decoration: none;
        }
    
    .form__text {
        /* margin-top: 32px;  */
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: black;
        margin-top: 4px;
        }
    
       
    
    .form__email {
        width: 275px;
        height: 46px;
        background: #FFF; 
        border: 1px solid #C4C4C4; 
        box-sizing: border-box; 
        border-radius: 20px; 
        font-size: 15px; 
        line-height: 18px; 
        color: #C4C4C4;
        padding-left: 25px;
        padding-right: 25px;
        outline: none;
    }
    
    .form__email::placeholder{
        color: #C4C4C4
    }
    
    .form__button {
        background: rgba(222, 215, 215, 0.41); 
        border: 1px solid #fff; 
        box-sizing: border-box; 
        border-radius: 20px; 
        width:275px; 
        height: 46px; 
        font-size: 15px; 
        line-height: 18px; 
        color: #000; 
    }
    
    footer{
        background-color: #F7F6F6;
    }
    
    .footer{
        /* height: 207px;
        
        display: flex;
        gap: 212px; */
        
        margin-top: 64px;
        padding-top: 32px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    
    .footer__logo{
        /* margin-top: 29px; */
        /* display: flex;
        align-items: center; */
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #000000;

    }

    .footer__logo_style {
        color: #000000;
    }
    
    .footer__content{
        /* width: 911px; */
        /* display: flex;
        gap: 85px; */
        
        width: 792px;
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
    }
    
    .footer__info{
        /* width: 423px; */
        display: flex;
        gap: 129px;
    
    
    }
    
    .nav_footer__item{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .footer__item{
        display: flex;
        flex-direction: column;  
        gap: 12px;    
    }
    
    .footer__icons{
        display: flex; 
        align-items: center;
        gap: 16px;
        
    
    }
    
    .form{
        /* width: 353px; */
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }
    
    
    .catalog__top{
        height: 400px;
        background-image: url(./img/catalog/top_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .cat__title{
        margin-top: 126px;
        margin-bottom: 126Px;
        font-weight: 600; 
        font-size: 64px; 
        line-height: 70px;
        color: #FFF;
    }
    
    
    .items__section_top{
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .filter__list{
        margin-bottom: 32px;
    }
    
    .items__section_breadcrumbs{
        margin-bottom: 41px;
        display: flex;
    
    
    }
    
    .breadcrumbs {
        list-style-type: none;
        display: flex;
        
      }
      
    .breadcrumbs__item{
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000;
        
    }
    
      .breadcrumbs__item:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
      }
    
    
    .filter__list_text{
    width: 275px;
    height: 46px;
    background: #FFF; 
    border: 1px solid #C4C4C4; 
    box-sizing: border-box; 
    border-radius: 20px;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 20px; 
    color: #000;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    }

    @import 'cart';
    @import 'tablet';
    @import 'mobile'

    // КАТАЛОГ ПЛАНШЕТ
    
    