* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

.app {
    background-color: #004980;
    height: 100vh; 
}

.startScreenContainer {
    height: 100vh; 
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.startScreenBox {
    background-color: #C2F5FF;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.startScreenTitleBox {
    width: 208px;
    height: 96px;
    margin-top: 52px;
    margin-bottom: 48px;
}

.startScreenTitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    text-align: center;
}

.difficultyBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 67px;
}

.difficultyItem {
    border: none;
    background-color: #FFFFFF;
    height: 98px;
    width: 98px;
    border-radius: 12px;

    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}       

.difficultyItem:focus:not(:active) {
    border: solid;
    border-style: inset;
}

.difficultyItem:hover {
    border: solid;
    border-color: #9fa397;
}

.startButton {
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
}

.startButton:hover {
    border: solid;
    border-color: #446b00;
}

.startButton:active {
    border-style: inset;
}

.gameScreenContainer {
    padding: 26px;
}

.gameScreenTopContent {
    height: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timerBox {
    display: flex;
    width: 155px;
    height: 72px;
}

.timer {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
}

.replayButton {
    border: none;
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.replayButton:hover {
    border: solid;
    border-color: #446b00;
}

.gameScreenCardsContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.cardBox {
    width: 95px;
    height: 133px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
