/* stylelint-disable prettier/prettier */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable selector-class-pattern */
@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    src: local("StratosSkyeng"),
         /* Если не получилось, загрузит woff2 */
         url("./stratosskyengweb-regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./stratosskyengweb-regular.woff") format("woff");
  }
  
  /* Теперь можно использовать шрифт */
  body {
    font-family: "StratosSkyeng", sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.app {
    background-color: #004980;
    height: 100vh;
}

.startScreenContainer {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.startScreenBox {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startScreenTitleBox {
    width: 208px;
    height: 96px;
    margin-top: 52px;
    margin-bottom: 48px;
}

.startScreenTitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    text-align: center;
}

.difficultyBox {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 67px;
}

.difficultyItem {
    border: none;
    background-color: #fff;
    height: 98px;
    width: 98px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.difficultyItem:hover {
    border: solid;
    border-color: #9fa397;
}

.difficultyItem:focus:not(:active) {
    border: solid;
    border-style: inset;
}

.startButton {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    border: none;
}

.startButton:hover {
    border: solid;
    border-color: #446b00;
}

.startButton:active {
    border-style: inset;
}

.gameScreenContainer {
    padding: 26px;
}

.gameScreenTopContent {
    height: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timerBlock {
    display: flex;
    width: 155px;
    height: 72px;
}

.timer {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
}

.replayButton {
    border: none;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.replayButton:hover {
    border: solid;
    border-color: #446b00;
}

.gameScreenCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.cardBox {
    width: 95px;
    height: 133px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
