@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
  
  .title {
    font-size: 32px;
    line-height: 39px;
    text-align: center
    
  }
  
  .subheading {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    
  }
  
  .start__button {
    display: flex;
    justify-content: center;
  }
  
  .bottom__content {
    grid-template-columns: repeat(4, 1fr);
  }

  .seasons {
    padding-top: 51px;
    padding-bottom: 85px;
    gap: 64px;
  }

  .seasons__content {
    align-items: center;
  }

  .seasons__title {
    font-size: 32px;
    line-height: 39px;
  
  }

  .seasons__subheading {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  // .seasons__picture {
  //   padding-top: 64px;
  // }
 
.words {
  display: flex;
  flex-direction: column-reverse;
}


.riddles {
  padding-top: 51px;
  padding-bottom: 500px;
}


}
